<div class="layout-sidebar" [ngClass]="{'active': active}">
        <div class="layout-menu">

                <span *appPermissao="['SGM_ADMINISTRADOR']">
                        <div>
                                <div class="menu-category">MENU AUTORIZADO</div>
                                <div class="menu-items">
                                        <a [routerLink]=" ['/lts']" routerLinkActive="router-link-exact-active">Item</a>
                                </div>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Impostos Municipais</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/gerar-imposto']" routerLinkActive="router-link-exact-active">IPTU /
                                        ITR</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Dados Gerais</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/setup']" routerLinkActive="router-link-exact-active">Item 1</a>
                                <a href="https://github.com/primefaces/primeng/wiki/Migration-Guide"
                                        target="_blank">Item
                                        Externo</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Cidadão</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/lts']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Educação</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/theming']" routerLinkActive="router-link-exact-active">Item 1</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Saúde</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/icons']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Ambiente</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/icons']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Agropecuária</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/icons']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Comércio</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/icons']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Serviços</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/icons']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Turismo</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/icons']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Lazer</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/icons']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>

                <span>
                        <div class="menu-category">Fale Conosco</div>
                        <div class="menu-items">
                                <a [routerLink]=" ['/icons']" routerLinkActive="router-link-exact-active">Item</a>
                        </div>
                </span>


        </div>
</div>